@import "notification.css";

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f4f4f4;
}

#brand h1 {
  font-size: 48px;
  color: #007bff;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
}

#brand a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

nav ul li a.blue-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-align: center;
}

nav ul li a.blue-button:hover {
  background-color: #0056b3;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#content {
  width: 70%;
}

.post {
  background-color: #fafaf5;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
  border: solid;
  border-color: #e6e6e6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

}

.post-title {
  font-size: 24px;
  margin-bottom: 20px;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 44px;
  position: relative;
  height: 664px;
}

footer {
  padding: 20px;
  background-color: #f4f4f4;
}

.logged-buttons {
  padding: 10px;
  padding-left: 30px;
  margin-top: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
}


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f4f4f4;
}

#brand h1 {
  font-size: 48px;
  color: #007bff;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

nav ul li a.blue-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-align: center;
}

a.blue-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-align: center;
}

a.blue-button:hover {
  background-color: #0056b3;
}

nav ul li a.blue-button:hover {
  background-color: #0056b3;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.faq {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.create_form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

#content {
  width: 70%;
}

.post {
  background-color: #fafaf5;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
  border: solid;
  border-color: #e6e6e6;

}

.post-title {
  font-size: 24px;
  margin-bottom: 20px;
}

aside {
  width: 25%;
  flex-direction: column;
  padding: 30px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

footer {
  padding: 20px;
  background-color: #f4f4f4;
}

.logged-buttons {
  padding: 10px;
  padding-left: 30px;
  margin-top: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.question-title {
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.question-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}


#form h1 {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
}

#form {
  position: relative;
}

#form a.blue-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#main_about h1 {
  position: relative;
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
}

#about p {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

#main_about h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.authors img,
.members img {
  max-width: 100px;
  height: auto;
}




.project-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
  width: calc(100% - 40px);
  position: relative;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  margin: 0;
}

.technologies {
  font-size: 0.9em;
  color: #555;
}

.project-description {
  margin: 10px 0;
}

.project-meta {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 20px;
  align-items: center;
}

.project-meta p {
  margin: 5px 0;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

.filter-container {
  width: 100%;
  text-align: center;
}

.filter-container .blue-button {
  margin-bottom: 20px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.filter-list li {
  background: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}


#email,
#topic {
  background-color: #fafaf5;
  border-radius: 10px;
  margin-bottom: 20px;
  border: solid;
  border-color: #e6e6e6;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}

#message {
  background-color: #fafaf5;
  border-radius: 10px;
  margin-bottom: 20px;
  border: solid;
  border-color: #e6e6e6;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}



label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.email-box,
.topic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

.tresc-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

.notification-bell {
  width: 24px;
  height: auto;
}