<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <div id="brand">
            <h1>MatchMates</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/projects">Projekty</a></li>
                <li><a href="/updates">Update'y</a></li>
                <li><a href="/info">Informacje</a></li>
                <li><a href="/help">Pomoc</a></li>
                <li><a href="/login" class="blue-button">Zaloguj się</a></li>
                <li><a href="/login" class="blue-button">Zarejestruj się</a></li>
            </ul>
        </nav>
    </header>

    <main id="main_about">
        <section id="about">
            <h1>O nas</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, vitae praesentium consectetur deserunt reiciendis illum? 
                Neque rem quod fuga ipsum totam, nihil enim dolorem? Quod reprehenderit deleniti rem atque beatae. 
                Provident facilis eos et voluptates quas? Asperiores architecto aliquam labore excepturi sint, nemo officiis
                 quasi aut quia, voluptatem perferendis repudiandae!
            </p>
        </section>
    </main>

</body>
</html>