<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="module" src="/javascripts/refresh_jwt.js"></script>
    <script src="/javascripts/notifications.js"></script>
</head>

<body>
    <header>
        <div id="brand">
            <h1><a href="/">MatchMates</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Projekty</a></li>
                <li><a href="/about">Informacje</a></li>
                <li><a href="/faq">Pomoc</a></li>
                <% if (user.is_guest) { %>
                    <li> <a href="/user/login" class="blue-button">Zaloguj się</a></li>
                    <li> <a href="/user/register" class="blue-button">Zarejestruj się</a></li>
                    <% } else { %>
                        <li><a href="/profile" class="blue-button">Profil</a></li>
                        <li><a href="/user/logout" class="blue-button">Wyloguj się</a></li>
                        <li> <a href="#" onclick="toggleNotifications()"><img src="/images/bell.png" alt="bell"
                                    class="notification-bell"></a></li>
                        <% } %>
            </ul>
        </nav>
    </header>

    <main id="main_about">
        <section id="about">
            <h1>O nas</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, vitae praesentium consectetur
                deserunt
                reiciendis illum?
                Neque rem quod fuga ipsum totam, nihil enim dolorem? Quod reprehenderit deleniti rem atque
                beatae.
                Provident facilis eos et voluptates quas? Asperiores architecto aliquam labore excepturi sint,
                nemo
                officiis
                quasi aut quia, voluptatem perferendis repudiandae!
            </p>
        </section>
    </main>
    <div id="notifications-container" style="display: none; position: fixed; top: 200px; right: 550px;"></div>

</body>

</html>