<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>FAQ - Pomoc</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <div id="brand">
            <h1>MatchMates</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/projects">Projekty</a></li>
                <li><a href="/updates">Update'y</a></li>
                <li><a href="/info">Informacje</a></li>
                <li><a href="/help">Pomoc</a></li>
                <li><a href="/login" class="blue-button">Zaloguj się</a></li>
                <li><a href="/login" class="blue-button">Zarejestruj się</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="questions">
            <div class="question-container">
              <div class="question-title">Question 1</div>
              <div class="question">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, nisi.</p>
              </div>
            </div>
            <div class="question-container">
                <div class="question-title">Question 2</div>
                <div class="question">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, nisi.</p>
                </div>
            </div>
            <div class="question-container">
                <div class="question-title">Question 3</div>
                <div class="question">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, nisi.</p>
                </div>
            </div>
        </section>
        <section>
            <h1>Napisz do nas!</h1>
            <div class="email-box">
                <label for="email">Twój email:</label><br>
                <input type="email" id="email" name="email">
            </div>
            <div class="topic-box">
                <label for="topic">Temat:</label><br>
                <input type="text" id="topic" name="topic">
            </div>
            <div class="tresc-box">
                <label for="message">Treść wiadomości:</label><br>
                <textarea id="message" name="message"></textarea>
            </div>
            <a href="/send" class="blue-button">Wyślij</a>
        </section>
    </main>
</body>
</html>