<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="MatchMates - Platforma do zarządzania projektami i współpracy.">
  <title>Strona Główna</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script type="module" src="/javascripts/refresh_jwt.js"></script>
</head>

<body>
  <header>
    <div id="brand">
      <h1>MatchMates</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Projekty</a></li>
        <li><a href="/updates">Update'y</a></li>
        <li><a href="/about">Informacje</a></li>
        <li><a href="/faq">Pomoc</a></li>
        <% if (user.is_guest) { %>
          <li> <a href="/user/login" class="blue-button">Zaloguj się</a></li>
          <li> <a href="/user/register" class="blue-button">Zarejestruj się</a></li>
          <% } else { %>
            <li><a href="/profil" class="blue-button">Profil</a></li>
            <li><a href="/user/logout" class="blue-button">Wyloguj się</a></li>
            <% } %>
      </ul>
    </nav>
  </header>

  <% if (!user.is_guest) { %>
    <div class="logged-buttons">
      <nav>
        <ul>
          <li><a href="/project/create" class="blue-button">Dodaj projekt</a></li>
          <li><a href="/my-projects" class="blue-button">Moje projekty</a></li>
          <li><a href="/followed-projects" class="blue-button">Śledzone projekty</a></li>
        </ul>
      </nav>
    </div>
    <% } %>
      <main>
        <section id="content">
          <div class="project-container">
            <div class="project-header">
              <h2 class="project-title">Tytuł Projektu</h2>
              <span class="technologies">Technologie: HTML, CSS, JS</span>
            </div>
            <hr>
            <p class="project-description">Opis projektu...</p>
            <div class="project-meta">
              <p>Autorzy: Jan Kowalski, Anna Nowak</p>
              <p>Uczestnicy: Maria Wiśniewska, Piotr Zieliński</p>
            </div>
            <a href="/apply" class="blue-button">Aplikuj</a>
          </div>
          <div class="project-container">
            <div class="project-header">
              <h2 class="project-title">Tytuł Projektu</h2>
              <span class="technologies">Technologie: HTML, CSS, JS</span>
            </div>
            <hr>
            <p class="project-description">Opis projektu...</p>
            <div class="project-meta">
              <p>Autorzy: Jan Kowalski, Anna Nowak</p>
              <p>Uczestnicy: Maria Wiśniewska, Piotr Zieliński</p>
            </div>
            <a href="/apply" class="blue-button">Aplikuj</a>
          </div>
          <div class="project-container">
            <div class="project-header">
              <h2 class="project-title">Tytuł Projektu</h2>
              <span class="technologies">Technologie: HTML, CSS, JS</span>
            </div>
            <hr>
            <p class="project-description">Opis projektu...</p>
            <div class="project-meta">
              <p>Autorzy: Jan Kowalski, Anna Nowak</p>
              <p>Uczestnicy: Maria Wiśniewska, Piotr Zieliński</p>
            </div>
            <a href="/apply" class="blue-button">Aplikuj</a>
          </div>
        </section>
        <aside>
          <div class="filter-container">
            <a href="/filter" class="blue-button">Filtruj</a>
            <ul class="filter-list">
              <li>Filtr 1</li>
              <li>Filtr 2</li>
              <li>Filtr 3</li>
            </ul>
          </div>
        </aside>
      </main>
</body>

</html>