<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <div id="brand">
            <h1>MatchMates</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/projekty">Projekty</a></li>
                <li><a href="/update">Update'y</a></li>
                <li><a href="/about">Informacje</a></li>
                <li><a href="/faq">Pomoc</a></li>
                <li><a href="/profil" class="blue-button">Profil</a></li>
                <li><a href="/wyloguj" class="blue-button">Wyloguj się</a></li>
            </ul>
        </nav>
    </header>

    <div class="logged-buttons">
        <nav>
        <ul>
            <li><a href="/add-project" class="blue-button">Dodaj projekt</a></li>
            <li><a href="/my-projects" class="blue-button">Moje projekty</a></li>
            <li><a href="/followed-projects" class="blue-button">Śledzone projekty</a></li>
        </ul>
        </nav>
    </div>
    <main>
        <section id="content">
  <div class="post-container">
    <div class="post-title">Post Title 1</div>
    <div class="post">
      <p>Content for post 1</p>
    </div>
  </div>
  <div class="post-container">
    <div class="post-title">Post Title 2</div>
    <div class="post">
      <p>Content for post 2</p>
    </div>
  </div>
  <div class="post-container">
    <div class="post-title">Post Title 3</div>
    <div class="post">
      <p>Content for post 3</p>
    </div>
  </div>
</section>
        <aside>
        </aside>
    </main>
</body>
</html>
