<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Strona Główna</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div id="brand">
      <h1>MatchMates</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/projects">Projekty</a></li>
        <li><a href="/updates">Update'y</a></li>
        <li><a href="/about">Informacje</a></li>
        <li><a href="/faq">Pomoc</a></li>
        <li> <a href="/user/login" class="blue-button">Zaloguj się</a></li>
        <li> <a href="/user/register" class="blue-button">Zarejestruj się</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="content">
      <div class="post-container">
        <div class="post-title">Post Title 1</div>
        <div class="post">
          <p>Content for post 1</p>
        </div>
      </div>
      <div class="post-container">
        <div class="post-title">Post Title 2</div>
        <div class="post">
          <p>Content for post 2</p>
        </div>
      </div>
      <div class="post-container">
        <div class="post-title">Post Title 3</div>
        <div class="post">
          <p>Content for post 3</p>
        </div>
      </div>
    </section>
    <aside>
    </aside>
  </main>
</body>

</html>