<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel='stylesheet' href='/stylesheets/login-style.css' />
</head>
<body>
    <div class="login-panel">
        <div class="login-form">
            <form>
                <div class="input-wrapper">
                    <input type="text" id="username" name="username" placeholder="Login">
                </div>
                <div class="input-wrapper">
                    <input type="password" id="password" name="password" placeholder="Hasło">
                </div>
                <button class="login-button">Zaloguj</button>
            </form>
        </div>
    </div>
</body>
</html>
