<% if(notifications.length> 0) {
    notifications.forEach(n => { %>
    <div class="notification">
        <div class="notification-text">
            <%= n.message %>
        </div>
    </div>
    <% })} else { %>
        <div class="notification">
            <div class="notification-text">
                Brak powiadomień
            </div>
        </div>
        <% } %>