<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel='stylesheet' href='/stylesheets/login-style.css' />
</head>

<body>
    <div class="login-panel">
        <div class="login-form">
            <% if (typeof error !=='undefined' ) { %>
                <div class="error-message">
                    <%= error %>
                </div>
                <% } %>
                    <form method="POST" action="/user/register">
                        <div class="input-wrapper">
                            <input type="email" id="email" name="email" placeholder="Adres email" required>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" id="name" name="name" placeholder="Nazwa użytkownika" required>
                        </div>
                        <div class="input-wrapper">
                            <input type="password" id="pass" name="pass" placeholder="Hasło" required>
                        </div>
                        <div class="input-wrapper">
                            <input type="password" id="confirm_pass" name="confirm_pass" placeholder="Powtórz hasło"
                                required>
                        </div>
                        <div class="input-wrapper">
                            <input type="date" id="birth_date" name="birth_date" required>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" id="city" name="gender" placeholder="Płeć" required>
                        </div>
                        <button type="submit" class="login-button">Zarejestruj</button>
                    </form>
        </div>
    </div>
</body>

</html>