<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Weryfikacja</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/login-style.css' />
    <script type="module" src="/javascripts/refresh_jwt.js"></script>
</head>

<body>
    <div class="login-panel">
        <div class="login-form">
            <h2>Wpisz kod wysłany na podany adres email</h2>
            <form>
                <div class="input-wrapper">
                    <input type="text" id="verification-code" name="verification-code" placeholder="Wpisz kod">
                </div>
                <button class="login-button">Zatwierdź</button>
            </form>
        </div>
    </div>

</body>

</html>